apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich

images:
  - name: ghcr.io/immich-app/immich-server
    newTag: "v2.4.1"
  - name: ghcr.io/immich-app/immich-machine-learning
    newTag: "v2.4.1"
  - name: docker.io/valkey/valkey
    newTag: "8-bookworm"

replicas:
  - name: immich-worker
    count: 2
  - name: immich-ml
    count: 3

resources:
  - manifests/namespace.yaml
  - manifests/immich-server.yaml
  - manifests/immich-workers.yaml
  - manifests/immich-ml.yaml
  - manifests/pvc.yaml
  - manifests/valkey.yaml
  - manifests/ingress.yml

generators:
  - ./secret-generator.yml
