global
  log stderr format raw local0 debug

defaults
  timeout connect 500ms
  timeout client 1m
  timeout server 1m
  option tcplog
  log global

listen submission
  bind 0.0.0.0:587,[::]:587
  mode tcp
  server-template postfix 1 postfix:30587 send-proxy-v2

listen smtp
  bind 0.0.0.0:25,[::]:25
  mode tcp
  server-template postfix 1 postfix:30025 send-proxy-v2

listen imaps
  bind 0.0.0.0:993,[::]:993
  mode tcp
  server-template dovecot 1 dovecot:31993 send-proxy-v2

listen managesieve
  bind 0.0.0.0:4190,[::]:4190
  mode tcp
  server-template dovecot 1 dovecot:34190 send-proxy-v2
  timeout client 10m
  timeout server 10m

