global
  log stderr format raw user debug

defaults
  timeout connect 500ms
  timeout client 1m
  timeout server 1m
  option tcplog
  log global

listen submission
  bind :587
  mode tcp
  server-template postfix 1 postfix:30587 send-proxy-v2

listen smtp
  bind :25
  mode tcp
  server-template postfix 1 postfix:30025 send-proxy-v2

listen imaps
  bind :993
  mode tcp
  server-template dovecot 1 dovecot:31993

listen managesieve
  bind :4190
  mode tcp
  server-template dovecot 1 dovecot:34190
  timeout client 10m
  timeout server 10m

