apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: immich
  annotations:
    haproxy-ingress.github.io/proxy-body-size: "500m"
spec:
  ingressClassName: haproxy
  tls:
    - secretName: tls-pics.aut-sys.de
      hosts: [ pics.aut-sys.de ]
  rules:
    - host: pics.aut-sys.de
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: immich-server
                port:
                  name: http
