apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traefik

resources:
  - manifests/namespace.yaml
  - manifests/middlewares.yaml

helmCharts:
  - name: traefik-crds
    repo: https://traefik.github.io/charts
    releaseName: traefik-crds
    version: "1.13.1"
    valuesFile: traefik-crds.values.yaml
    includeCRDs: true

  - name: traefik
    repo: https://traefik.github.io/charts
    releaseName: traefik
    version: "37.4.0"
    valuesFile: traefik.values.yaml
    namespace: traefik
    includeCRDs: false
